@charset "UTF-8";
body{
	background-color:#F7F7F7;
	align-content:center;
}
#text{
text-align: center;
font-size:100px;
font-family:monospace;
color:black;
text-decoration:none;
}
#text:hover{
	color:#670001
}
#button:hover{
	width:50%;
	height:50%;
}
#questionnaire{
	text-align: center;
font-size:20px;
font-family:monospace;
color:black;
text-decoration:underline;
padding:150px;
}
#questionnaire:hover{
	color:#A500FF
}
#bluebutton{
padding-left:100px;
}
